/*1-style name and logo */

#top{
	align-items: center;
	display: flex;
	width:70%;
	margin: auto; /*because i want the nav and logo at the center of page*/

}

/*A-style logo for each page*/

#imagelogo{
	width:40px;
	height:40px;
	position: fixed;
    margin: auto;		
}
/*B-style namelogo for each page*/
#namelogo{
	display: inline;
	position: fixed;
	font-size: 20px;
	font-weight: bold;
	margin: 3%;

}

/*2- body for each page*/
body{
	 background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
	 background-attachment:local;
     font-family: Georgia,sans-serif,monospace;
     line-height: 1.4;
  	 font-weight: lighter;
     font-variant: normal;
     font-size: 1.2vw;
     padding: 1% 1.4%;
}

/*3- nav for each page*/

#navpar{
	display: inline;
	position: fixed;
	width: 70%;
	margin: auto;
	padding: 14%;
	
}

/*A- nav for each page*/
.nav{
	text-decoration:none;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	margin:10px ;
}
/* unvisited link */

.nav:link {
  color: green;
}


/* visited link */
.nav:visited {
  color: purple;
}

/* mouse over link */
.nav:hover {
  color: pink;
  text-decoration: underline;
}


/* selected link */
.nav:active {
  color: blue;
}

/*footer*/
footer{
  transform: translate(-20px);
	align-content: center;
	border-width:2px ;
	border-style: double;
	border-color: #73738F;
	border-radius: 15px;
}

footer p{
	color: white;
	text-align: center;
}



/* the linebreak */

.linebreak{
	height: 1px;
	background-color:#5A708C  ;
	margin: 2em auto;
}

/*category-text */
#category-text{
		margin: auto;
	text-transform: uppercase;
	text-decoration: underline;
	font-style: italic;
	font-size: 40px;
	font-weight: bold;
	padding:3%;
	text-align:center;
	color: #76548C;
}

/*heading */

.heaging{
	display: inline;
	font-style: italic;
	font-size: 150%;
	margin-left: 1%;
	color:#643DF3 ;
	background-color: #CAC7D9;
}


/*text*/
.taxt{
	font-weight: lighter;
	font-size: 150%;
	margin: 3%;
  line-height:150%;
  word-spacing: 5px;
}


#about1{
	display: none;
}

.button{

	height: 2rem;
	width: 8rem;
	color: #fff;
	background-color: #813B7C;
}

.div-button{
	margin-left:10px;
	padding-left:10px;
	margin-top: 30px;

}

/*Responsive*/
/* for a tablet */
@media(max-width : 768px){
	.grid,
	.showcase .grid,
	.stats .grid,
	.cloud .grid{
		grid-template-columns: 1fr ;
		grid-template-rows: 1fr ;
	}
	.showcase{
		height: auto;
	}
	.showcase-text{
		text-align: center;
		margin-top: 40 px;
	}
	.showcase-form{
		justify-self: center;
		margin: auto;
	}
}


/* for a mobile */
@media(max-width : 500px){
	#navpar{
		height: 110px;
	}

	#navpar.flex{
		flex-direction: column;
	}
	#imagelogo{
		height: 110px;
	}
	 #imagelogo.flex{
	 	flex-direction: column;
	 }
	 #namelogo{
	 	height: 110px;
	 }
	 #namelogo.flex{
	 	flex-direction: column;
	 }

}